In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Carga desde un archivo .xlsx sin indice
data = pd.read_excel('Inmuebles2.xlsx')

In [3]:
#Convertir DataFrame a CSV
data.to_csv("Inmuebles2.csv")

In [ ]:
#Carga desde un archivo .csv sin indice
data= pd.read_csv('Inmuebles2.csv') 
data

In [ ]:
#Eliminar primera fila o filas innecesarias
data1= pd.read_csv('Inmuebles2.csv', skiprows=1, low_memory=False)
data1

In [ ]:
#Eliminar columnas innecesarias
data2= data1.drop(['0','Referencia'], axis=1)
data2

In [7]:
#Identificar valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [9]:
#Realizamos una copia del dataframe
data3=data2.copy()

In [ ]:
#Valores nulos con media
data3["Superficie"]=data3["Superficie"].fillna(round(data2["Superficie"].mean(),1))
data3

In [12]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [13]:
#Eliminamos filas con nulos
data4= data3.dropna(1)
data4

/var/folders/_k/y1w3sds95nb7b2qqw5w4hw_00000gn/T/ipykernel_29922/1929231857.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  data4= data3.dropna(1)

      Superficie
0          291.0
1          185.0
2           82.0
3          285.0
4          152.0
...          ...
3332       221.0
3333        55.0
3334        78.0
3335        88.0
3336       170.2

[3337 rows x 1 columns]

In [14]:
#Corroboramos valores nulos
valores_nulos=data4.isnull().sum()
valores_nulos

Superficie    0
dtype: int64